html, body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("/static/images/fog_light.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #1A2838;
  font-family: 'Lato', sans-serif;
}

.main {
  padding-top: 90px;
}

.body-home {
  text-align: center;
}

.main h1 {
  font-weight: 700;
}

.code {
  font-family: 'Roboto Mono', monospace;
}

.icons-row {
  padding-top: 25px;
}

.icon {
  padding: 0 15px;
  width: 32px;
}

.icon img:hover {
  opacity: 0.5;
}
