# /etc/systemd/system/flask.service
[Unit]
Description=bonnie.dev
After=network.target

[Service]
User=ubuntu
Group=ubuntu
Environment="LANG=en_US.UTF-8"
Environment="LANGUAGE=en_US.UTF-8:"
WorkingDirectory=/home/ubuntu/bonniedotdev/server
ExecStart=/bin/bash -c "source .env\
&& source venv/bin/activate\
&& python run.py &>> flask.log"
Restart=always
RestartSec=90
StartLimitBurst=5
StartLimitInterval=600

[Install]
WantedBy=multi-user.target

