# /etc/systemd/system/flask.service
[Unit]
Description=My Awesome Cat App
After=network.target

[Service]
User=ubuntu
Group=ubuntu
Environment="LANG=en_US.UTF-8"
Environment="LANGUAGE=en_US.UTF-8:"
WorkingDirectory=/home/ubuntu/catapp/
ExecStart=/bin/bash -c "source secrets.sh\
&& source env/bin/activate\
&& python3 server.py &>> flask.log"
Restart=always

[Install]
WantedBy=multi-user.target
