<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/base.css">

    <title>Bonnie Schulkin | teacher | coder</title>
  </head>
  <body>
    <div class="body-home">
      <div class="container main">
        <div class="row">
          <div class="col">
            <h1>Bonnie Schulkin</h1>
          </div>
        </div>
      <div class="row">
        <div class="col">
          <h3 class="code">teacher | coder</h3>
        </div>
      </div>
      <div class="row icons-row">
        <div class="col">
          {% for link in links %}
            <span class="icon">
              <a target="blank" href="{{ link['target'] }}">
                <img src="/static/images/{{ link['icon'] }}">
              </a>
            </span>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>  </body>
  </body>
</html>